<!DOCTYPE html>
<html>

<head>
<title>Internal Marks Processor</title>
<style>
table, th, td {
border:1px solid black;
border-collapse: collapse;
padding:6px;
}
</style>
</head>

<body>

<h2>Internal Marks Tool</h2>

<form method="POST" enctype="multipart/form-data">
<input type="file" name="file" required>
<button type="submit">Process</button>
</form>

{% if table %}

<h3>Student Marks</h3>
{{ table|safe }}

{% endif %}

{% if chart %}

<h3>CO Chart</h3>
<img src="{{ chart }}" width="500">

{% endif %}

{% if download %}

<br><br>
<a href="/download?file={{download}}">
<button>Download Excel</button>
</a>

{% endif %}

</body>
</html>